@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Cor escura de fundo com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index maior para garantir que fique sobre a tela principal */
}

.form-product-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1001; /* Z-index maior que o overlay */
  opacity: 0; /* Inicialmente, a opacidade é definida como 0 para a animação de fade-in */
  animation: fadeIn 0.5s ease-out forwards; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
